/* General Styles */
body {
    background-color: #000;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section-header {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Contact Section */
.contact-container {
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.contact-form, .support-section, .feedback-section {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    margin: 2.5rem auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    width: 60%;
}

.contact-section h1, .contact-section h2 {
    font-size: 3.2rem;
    font-weight: bold;
}

.contact-section p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgba(249, 249, 249, 0.1);
    color: white;
    transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus, select:focus {
    border-color: #00ffcc;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.5);
}

button.btn-primary {
    background: #00ffcc;
    color: black;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
}

button.btn-primary:hover {
    background: white;
    color: black;
}

.contact-section .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.contact-section .social-links a {
    margin: 0 10px;
    font-size: 1.8rem;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.contact-section .social-links a:hover {
    transform: scale(1.3);
    color: #00ffcc;
}

#email {
    text-decoration: underline;
    color: rgb(63, 140, 255);
    letter-spacing: 0.08rem;
}

select option {
    color: black;
}

.feedback-form select {
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .contact-form, .support-section, .feedback-section {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .contact-form, .support-section, .feedback-section {
        width: 90%;
    }
    .contact-section h1, .contact-section h2 {
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .contact-section p {
        font-size: 1.2rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .form-group {
        margin-bottom: 0.5rem;
    }
    input, textarea, select {
        padding: 10px;
        font-size: 0.9rem;
    }
    button.btn-primary {
        padding: 0.8rem 2.5rem;
        font-size: 1rem;
    }
    .contact-section .social-links a {
        font-size: 1.5rem;
    }
}
